@import url("https://fontlibrary.org//face/montreal");

body {
  margin: 0;
  font-family: -apple-system, "Montreal";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, "Montreal";
}
